body{
background-color: rgb(74, 74, 201);
}

#clock {
    color: rgb(20, 13, 13);
	font-size: 125px;
	width: 800px;
	margin: 200px;
	text-align: center;
    border-left: 10px solid rgb(235, 67, 251);
	border-right: 10px solid aqua;
    border-top: 10px solid rgb(92, 249, 239);
    border-bottom:  10px solid purple;
	border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 13px;
}